# Ignore both root files and root directories...
/*

# ...except these folders (and eventually their content) down here...
!/benchmark
!/.git

# ...and except these files down here...
!/CMakeLists.txt
!/LICENSE
!/README.md
!/sinecrunch.hpp
!/.gitignore
!/.travis.yml